{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    {% for article in articleList %}
    <div>
        {{ article.title | upper }}
        {{ article.description}}
        {{ article.createdAt | date ("d/m/Y a h:m:s") }}
    </div>
    {% endfor %}
{% endblock %}
